<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python test yo</title>
</head>
<body>
    <h1>Welcomeeee!</h1>
    <h2><span id="user-count">0</span> users connected</h2>
    <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
{#            var url = "http://127.0.0.1:5000";#}
//            var url = + document.domain + ":" + location.port;
{#            console.log(url);#}
            var socket = io.connect(url+'/dd');
            socket.on('msg', function(msg) {
                $("#user-count").html(msg.count);
            });
        });
    </script>

</body>
</html>