<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python test yo</title>
</head>
<body>
    <h1>Welcomeeee!</h1>
    <form action="#" id="nums">
        <input type="text" id="num"/>
        <input type="submit"/>
    </form>
    <div id="numbers"></div>
    <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url+'/dd');

            $('#nums').submit(function(){
                socket.emit('number', {'number': $("#num").val()});
                $('#num').val('');
                return false;
            });

            socket.on('numberr', function(msg) {
                $("#numbers").prepend('<h3>' + msg.number + '</h3>');
            });
        });
    </script>

</body>
</html>